:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Montserrat", sans-serif;
    --font3: "FontAwesome", sans-serif;
    --font4: "Roboto", sans-serif;
    --font5: "ProximaNova", sans-serif;
    --font6: "Asap Condensed", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: var(--font-family);
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 145px;
}

.header-container {
    display: flex;
    padding-top: 20px;
    background-color: white;
    height: 80px;
}


.header-title {
    display: inline;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
    padding-top: 15px;

}

.header-img1 {
    display: none;
}


.header-box {
    display: flex;
}

.header-ul {
    display: flex;
    padding-top: 10px;
}

.header-li {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #22343d;
    list-style: none;
    margin-right: 35px;

}

.header-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #22343d;
    text-decoration: none;
}

.header-btn {
    width: 102px;
    height: 43px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    margin-right: 20px;

}

.header-button {
    width: 110px;
    height: 43px;
    background: #02897a;
    border-radius: 4px;
    color: white;
}

.mini-btn {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.main-container {
    background-color: white;
    height: 310px;
}


.clients {
    text-align: center;
    padding-top: 100px;
    font-weight: 700;
    font-size: 40px;
    color: #22343d;
}

.clients-ul {
    display: flex;
    list-style: none;
    margin-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.business-container {
    height: 498px;
    background: #f5f5f5;

}

.business-box {
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 40px 50px;
    width: 350px;
    height: auto;
    padding-top: 50px;
    margin-right: 30px;

}


.business-title {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
    padding-top: 24px;
}

.business-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 138%;
    letter-spacing: 0em;
    text-align: center;
    color: #22343d;
}

.business-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
}

.flex {
    display: flex;
    padding-top: 50px;
}

.service-container {
    height: 1500px;
    background-color: white;
}

.service-box {
    display: flex;
}

.service-title {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
    padding-top: 100px;
    padding-bottom: 70px;
}

.box-2 {
    text-align: start;
    margin: 0;
    text-align: left;
    padding: 0;
}

.box-title {
    font-weight: 500;
    font-size: 20px;
    color: #22343d;
}

.box-titl {
    font-weight: 600;
    font-size: 24px;
    color: #22343d;
}

.box-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #22343d;
}

.pay {
    display: flex;
    padding-top: 100px;
}

.completion {
    display: flex;
    padding-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.buton {
    border-radius: 8px;
    width: 224px;
    height: 44px;
    background: #02897a;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border: none;
    text-align: center;
    margin-top: 88px;
}


.offers {
    background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.offers-title {
    width: 537px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    padding-top: 35px;
}

.offers-ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.busines {
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    color: #000;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: #22343d;

}

.text-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    color: #000;
    padding-bottom: 30px;
}

.join {
    border-radius: 32px;
    width: 968px;
    height: 345px;
    background: #02897a;
    margin-top: 165px;
    display: flex;
    flex-wrap: wrap;
}

.join-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 151%;
    color: #fff;
    width: 510px;
    padding-top: 50px;

}

.join-img {
    margin-right: 300px;
}

.join-btn {
    border-radius: 8px;
    width: 150px;
    height: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    background-color: #22343d;
    border: none;
    margin-top: 80px;
}

.join-btn:active {
    background-color: #22343d;
    color: #fff;
}

.Resource-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #22343d;
}

.Resource-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 219%;
    color: #22343d;
}

.legal-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #22343d;
    width: 280px;
    margin-bottom: 34px;
}

.legal-input {
    width: 325px;
    height: 48px;
    display: block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    border: none;
}

.legal-btn {
    width: 131px;
    height: 39px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    background-color: #22343d;

}

.legal-btn:active {
    background-color: #fff;
    color: #22343d;
}


.images-img {
    display: block;
}

.end-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    color: #22343d;
    text-align: center;
    background-color: white;
}

@media only screen and (max-width:992px) {
    .container {
        margin: 0 auto;
        max-width: 900px;
        padding: 0 60px;
    }


}

@media only screen and (max-width:768px) {
    .container {
        margin: 0 auto;
        max-width: 100%;
        padding: 0 60px;
    }

    .header-img1 {
        display: inline-block;
    }

    .service-box {
        flex-direction: column-reverse;

    }

    .pay {
        flex-direction: column;

    }

    .completion {
        flex-direction: column-reverse;

    }

    .offers-title {
        text-align: left;
    }
}

@media only screen and (max-width:576px) {
    .container {
        margin: 0 auto;
        max-width: 100%;
        padding: 0 30px;
    }

    .flex {
        display: flex;
        padding-top: 50px;
        flex-wrap: wrap;
    }

    .business-container {
        height: auto;
    }

    .header-box {
        display: none;
    }



    .clients-ul {
        display: block;
    }

    .main-container {
        height: auto;
        text-align: center;
        justify-content: center;
        margin: 20px;
    }

    .business-box {
        margin-bottom: 50px;
    }

    .offers-title {
        width: auto;
    }

    .service-container {
        height: auto;
    }

    .join-title {
        width: auto;
    }

    .join-box {
        flex-direction: column;
    }

    .footer {
        height: auto;
        display: block;
    }

    .footer-container {
        flex-wrap: wrap;
    }

    .join-box {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .join-title {
        display: block;
    }

    .join {
        height: auto;
    }

    .footer-container {
        display: block;
    }
       

}